{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col pt-4">
                <h1>Groceries shop</h1>

                {% include 'catalogue.html.twig' %}

                {{ form(form) }}

                <div class="form-text">Please, provide list of products (example: AABDA)</div>
            </div>
        </div>
        {% if receipt is not empty %}
            <div class="row">
                <div class="col pt-4">
                    <h4>Receipt</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Product name</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total price</th>
                            </tr>
                        </thead>
                        {% for receiptItem in receipt.receiptItems %}
                            <tr>
                                <td>{{ receiptItem.product.name }}</td>
                                <td>{{ receiptItem.quantity }}</td>
                                <td>{{ receiptItem.total }}</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="3"><b>Receipt total: {{ receipt.total }}</b></td>
                        </tr>
                    </table>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}